fish_variables
*.bak
/functions/_*.fish
/functions/fisher.fish
/functions/fzf_cofigure_bindings.fish
/functions/tide.fish
/functions/fish_mode_prompt.fish
/functions/fish_prompt.fish
/functions/fzf_configure_bindings.fish
/functions/tide
/completions
/conf.d